:root{
    --black-text: rgba(0, 0, 0, 0.788)
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    color: var(--black-text);
}

/*
/*
/*              HEADER
/*
/*
*/


header{
    padding: 10px 20px;
    background-color: #F8F8F8;
    position: fixed;
    top: 0;
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    display: flex;
    gap: 20px;
    align-items: center;
}

.title img{
    width: 40px;
}

.tired-of{
    max-width: 40em;
    text-align: center;
    font-size: 15px;
    margin-top: -20px;
    margin-bottom: 10px;
    font-weight: normal;
}


.title-software{
    font-size: 20px;
    font-weight: bold;
    color: var(--black-text);
    text-decoration: none;
}


.links{
    display: flex;
    gap: 30px;
    font-size: 18px;

}

.links a{
    color: var(--black-text);
    text-decoration: none;
}

.links a:hover{
    text-decoration: underline;
}

.linked{
    color: #5db3f5
}

.linked:hover{
    text-decoration: none;
}


.links-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-top: 40px;
}



.hambuger-icon{
    width: 30px;
    display: none;
}

.links-mobile-menu img{
    float: right;
    margin-top: 17px;
    margin-right: 20px;
}

.links-mobile-menu{
    display: none;
    position: fixed;
    height: 100%;
    width: 150px;
    background-color: #d3d3d3;
    right: -25em;
    top: 0;
    transition: 200ms ease;
    z-index: 99;
}



.links-mobile{
    margin-top: 5em;
}

.links-mobile a{
    font-size: 20px;
    color: var(--black-text);
    text-decoration: none;
}


/*
/*
/*              MAIN
/*
/*
*/



.underline{
    display: inline-block;
    line-height: 0em;
    padding-bottom: 0.5em;
    background-color: #f0e582;
    border-radius: 10px;
}


.header-pres{
    margin-top: 10em;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    padding: 0 15px;
}

.big-title{
    font-size: 5em;
    font-weight: bold;
}

.presentation{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}

.download{
    padding: 15px 20px;
    background-color: #6786F2;
    color: white;
    border-radius: 100px;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    transition: 200ms ease;
}

.download:hover{
    background-color: #839dfa;
}

.not-windows{
    margin-top: -10px;
    font-size: 15px;
    text-align: center;
    font-weight: normal;
}


.important-point{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    background-color: #273036;
    padding-bottom: 50px;
    color: rgba(255, 255, 255, 0.884);
}

.box-pres{
    display: flex;
    align-items: center;
    gap: 6em;
    margin: 0 10px;

}

.box-pres.reversed{
    flex-direction: row-reverse;
}


.box-title{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
    /* color:#98bfec; */
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.205);
}


.box-desc{
    font-size: 17px;
    width: 20em;
}

.key-word{
    color:#acd7ff;
    font-weight: bold;
}

.box-desc.spaced{
    margin-bottom: 30px;
}


.no-premium{
    width: 290px;
}


.github-logo{
    width: 260px;
}



.features-point{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 7em;
    background-color: #535f68;
    padding: 40px;
    color: white;
}

.features-txt{
    font-size: 70px;
    color: #f7cc78;
    font-weight: bold;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.205);
}





/*
/*
/*              ABOUT ME
/*
/*
*/



.about-me{
    padding: 40px;

}

.about-me-txt{
    font-size: 70px;
    color: #629CF4;
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
}

.about-me-desc{
    font-size: 18px;
    max-width: 40em;
    margin: 0 auto;
}

.about-me-desc:last-child{
    margin-top: 50px;
}


/*
/*
/*              DOWNLOAD PAGE
/*
/*
*/

.information-download{
    margin: 7em 15em 0 15em;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.download-title{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 25px;
}

.download-portable{
    margin-top: 25px;
    margin-left: 5px;
}

.download-desc{
    max-width: 70em;
}

.warning-support{
    font-size: 19px;
    font-weight: bold;
}

/* I know i can just set margin on the download button but for some reason it's nor working.... */

.download-software > .download-desc{
    margin-bottom: 30px;
} 

#installation-not-windows{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.file-explorer{
    margin-left: 20px;
}

code{
    background-color: #e0e0e0;
    font-size: 14px;
    padding: 4px 8px;
    border-radius: 5px;
}

.pip-command, .more-info{
    margin-left: 35px;
}

.ready{
    margin-top: 30px;
}

/*
/*
/*              OTHER
/*
/*
*/

footer{
    margin-top: 50px;
    padding: 20px;
    background-color: #D9D9D9;
    text-align: center;
}


@media screen and (max-width: 768px) {

    .box-pres, .box-pres.reversed{
        flex-direction: column;
        text-align: center;
        gap: 30px;
    }

    .features-point{
        gap: 70px;
    }

    .box-pres img{
        width: 150px;
    }

    .preview-software{
        width: 300px !important;
    }


    
}


@media screen and (max-width: 668px) {

    .title-software{
        font-size: 17px;
    }

    .links-mobile-menu{
        display: block;
    }
    
    .header-pres{
        margin-bottom: 30px;
    }

    .big-title{
        font-size: 2.5em;
    }

    .logo-pres{
        width: 200px;
    }

    .presentation{
        font-size: 1.4em;
    }

    .tired-of{
        font-size: 14px;
    }
    
    .about-me-txt{
        font-size: 50px;
    }

    .about-me-desc{
        font-size: 15px;
    }

    .features-txt{
        font-size: 50px;
    }

    .download-title{
        font-size: 23px;
    }

    .download-desc{
        font-size: 14px;
    }

    #installation-not-windows{
        font-size: 14px;
    }

    .file-explorer{
        width: 275px;
    }

    .download.download-page{
        font-size: 17px;
    }

    footer{
        font-size: 14px;

    }
}



@media screen and (max-width: 532px) {

    .hambuger-icon{
        display: block;
    }

    .links{
        display: none;
    }
    
}



@media screen and (max-width: 1056px) {

    .information-download{
        margin-left: 20px;
        margin-right: 20px;
        
    }

    
}