:root{
    --black-text: rgba(0, 0, 0, 0.788)
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    color: var(--black-text);
}

/*
/*
/*              HEADER
/*
/*
*/


header{
    padding: 10px 20px;
    background-color: #F8F8F8;
    position: fixed;
    top: 0;
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title{
    display: flex;
    gap: 20px;
    align-items: center;
}

.title img{
    width: 40px;
}

.tired-of{
    max-width: 40em;
    text-align: center;
    font-size: 15px;
    margin-top: -20px;
    margin-bottom: 10px;
}


.title-software{
    font-size: 20px;
    font-weight: bold;
}


.links{
    display: flex;
    gap: 30px;
    font-size: 20px;

}

.links a{
    color: var(--black-text);
    text-decoration: none;
}

.linked{
    color: #5db3f5
}


/*
/*
/*              MAIN
/*
/*
*/


.underline{
    display: inline-block;
    line-height: 0em;
    padding-bottom: 0.5em;
    background-color: #f0e582;
    border-radius: 10px;
}


.header-pres{
    margin-top: 10em;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
}

.big-title{
    font-size: 5em;
    font-weight: bold;
}

.presentation{
    font-size: 30px;
    font-weight: 600;
}

.download{
    padding: 15px 20px;
    background-color: #6786F2;
    color: white;
    border-radius: 100px;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}

.not-windows{
    margin-top: -10px;
    font-size: 15px;
}


.important-point{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    background-color: #273036;
    padding-bottom: 50px;
    color: rgba(255, 255, 255, 0.884);
}

.box-pres{
    display: flex;
    align-items: center;
    gap: 7em;
    flex-wrap: wrap;
}

.box-pres.reversed{
    flex-direction: row-reverse;
}


.box-title{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
    /* color:#98bfec; */
}


.box-desc{
    font-size: 17px;
    width: 20em;
}

.key-word{
    color:#acd7ff;
    font-weight: bold;
}

.box-desc.spaced{
    margin-bottom: 30px;
}


.no-premium{
    width: 290px;
}


.github-logo{
    width: 260px;
}



.features-point{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 7em;
    background-color: #535f68;
    padding: 40px;
    color: white;
}

.features-txt{
    font-size: 70px;
    color: #f7cc78;
    font-weight: bold;
}





/*
/*
/*              ABOUT ME
/*
/*
*/



.about-me{
    padding: 40px;

}

.about-me-txt{
    font-size: 70px;
    color: #629CF4;
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
}

.about-me-desc{
    font-size: 20px;
    max-width: 40em;
    margin: 0 auto;
}

.about-me-desc:last-child{
    margin-top: 50px;
}


footer{
    padding: 20px;
    background-color: #D9D9D9;
    text-align: center;
}